body{
    width:1440px;
    margin:15px;
    box-sizing:border-box;
    /* background:mediumpurple;*/

}
.header{
    width:1440px;
    height:89px;
    box-sizing:border-box;
    font-family: sans-serif;
    color:white;
    font-size:54px;
    padding-top:13px;
    padding-bottom:13px;
    padding-left: 29px;

     /* border:2px solid black;*/
    position:fixed;
    background:#590BFF;

}
.under_header{
    position: relative;
    top:100px;
    width:1440px;
    padding-top:20px;
    left:0;
    /*    height:400px;*/
}
.links{
    position:fixed;
    box-sizing:border-box;
    width:282px;
  /*  height:457px;*/
    padding-left:5px;
    /* margin-top: 20px;*/
  /*  border:2px solid black;*/
    font-family: sans-serif;
    border-right:2px solid orange;
    font-size:28px;
    text-align:left;
}
[href] {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FF710B;
    font-size:24px;
    text-align: left;

}
.container{
    width:1000px;
    height:499px;
    box-sizing:border-box;
    position: relative;
    right:0;
    margin:0;
    padding-left:10px;
    left:282px;
    overflow: auto;
   /*  border:2px solid black;*/
    font-size:20px;
}
ul{
    position: sticky;
    top:0;
    /* right:0;
     left:0;*/
/*    width:1080px;*/

    margin:0;
    padding:0;
    background:#590BFF;
    font-family: sans-serif;
   /* height:41px;*/
    font-size:28px;
    color:white;
    z-index:2;
    /*  text-align: left  ;*/
    /*border-bottom:2px solid black;*/
}
li{


    background-color:white;
    font-family: sans-serif;
    font-size:20px;
    text-align: left  ;
    color:black;
    position:relative;
    z-index:-2;
    list-style-type: none;
}