.Body{
    display:flex;
}
.Body__Sidebar a{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin:10px;
    text-decoration: none;
    color:black;
    font-family: sans-serif;
}
.Body__news{
margin:0 auto;
}
.Body__spacer{

}
/*.Body__spacerText{*/
/*    display: inline-block;*/
/*    white-space: nowrap;*/
/*    transform: translate(0, 100%) rotate(-90deg);*/
/*    transform-origin: 0 0;*/
/*    vertical-align: bottom;*/
/*}*/
/*.Body__spacerText:before {*/
/*    content: "";*/
/*    float: left;*/
/*    margin:100%;*/
/*    */
/*}*/

/*.Body__spacerText:after {*/
/*    content: "";*/
/*    display: inline-block;*/
/*}*/