.headTitle{
    display: flex;
    height: calc(70vh - 60px);
    align-items: center;
    justify-content: flex-end;
}
.errorLogo{
position:relative;
    left:100px;

}
.title{
    display: block;
    font-size: 40px;
    padding-bottom: 20px;
    padding-left: 140px;
    font-family: sans-serif;
    font-weight: bold;
    margin:0 auto;
}
.mainText{
    position: relative;
    top:20px;
    left:-140px;
    font-size:17px;
    font-family: sans-serif;
    padding-left: 140px;
    font-weight:normal;
}
