
@media screen and (max-width: 1920px) and (min-width: 769px){
    .enter__table {
        background-color: #FFFFFF;
        width: 600px;
        height: 412px;
        position: relative;
        margin:82px auto 0 auto;
        border-radius: 20px;
    }
    .enter__table-header{
        position:absolute;
        width: 115px;
        height: 50px;
        font-size:50px;
        font-family: sans-serif;
        font-weight:bold;
        color: #787878;
        left:149px;
        top:30px;
    }
    .enter__table-email{
        position: absolute;
        left:45px;
        top:112px;
    }
    .enter__table-email-title{
        position:absolute;

        top:-19px;
        left:8px;
        color:#787878;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
    }
    .enter__table-email-title-star,.enter__table-password-title-star{
        position: absolute;
        width: 7px;
        height: 12px;
        left: -12px;
        top:10px;
        color: #787878;

        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
    }
    .enter__table-email-input,.enter__table-password-input{
        width:509px;
        height:49px;
        border:2px solid #787878;
        border-radius: 10px;
        font-size:28px;
        color:#787878;
        font-style:normal;
        font-weight:bold;
        box-sizing: border-box;
        padding-left: 15px;
        padding-top:7px;
        padding-bottom: 6px;
        outline: none;
    }
    .enter__table-password{
        position: absolute;
        left:45px;
        top:193px;
    }
    .enter__table-password-title{
        position:absolute;
        top:-19px;
        left:8px;
        color:#787878;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
    }
    .enter__table-checkbox{
        position: absolute;
        left:45px;
        top:264px;
        width: 400px;
    }
    .enter__table-checkbox-star{
        position: absolute;
        left:-12px;
    }
    .enter__table-checkbox> input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        margin: 0;
    }

    .enter__table-checkbox-mark{
        width: 24px;
        height: 24px;
        border: 2px solid #787878;
        box-sizing: border-box;
        border-radius: 7px;
    }
    .enter__table-checkbox >input:checked + .enter__table-checkbox-mark::after {
        content: '✓';
        position: absolute;
        color: #787878;
        top: 2px;
        left: 4px;
    }
    .enter__table-checkbox-link{

    }
    .enter__table-checkbox-text{
        position: absolute;
        height: 16px;
        left: 34px;
        top: 4px;
        color:#787878;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }
    .submit{
        position: absolute;
        left:218px;
        top:334px;
    }
    .submit__button{

        box-sizing: border-box;
        margin: 0 auto;
        width: 180px;
        height: 52px;
        background: #1A226B;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        border-radius: 10px;
    }
    body{
        background-color: #1B2473;
        margin: 0;
    }
    .error {
        width  : 100%;
        padding: 0;
        font-size: 80%;
        color: red;
        background-color: #900;
        border-radius: 0 0 5px 5px;
        box-sizing: border-box;
    }
    .spanEmail, .spanPassword{
        position: absolute;
        height: 16px;
        left: 1px;
        top: 49px;
        font-size: 10px;
        line-height: 16px;
        font-family: sans-serif;
        font-weight: bold;
        /* identical to box height, or 160% */
        color: #CB2424;
    }
    .spanCheck{
        position: absolute;
        height: 16px;
        left: 0;
        top: 24px;
        font-size: 10px;
        line-height: 16px;
        font-family: sans-serif;
        font-weight: bold;
        /* identical to box height, or 160% */
        color: #CB2424;
    }
}
/*@media screen and (max-width: 768px) and (min-width: 320px){*/
/*    .enter__table{*/
/*        background-color: #FFFFFF;*/
/*        width:95vw;*/
/*        height:697px;*/
/*        max-width:768px;*/
/*        min-width:320px;*/
/*        position:relative;*/
/*        margin: 7px auto 0 auto;*/
/*        border-radius: 20px;*/
/*    }*/
/*    .enter__table-header{*/
/*        position:absolute;*/
/*        width: 90%;*/
/*        padding-top:38px;*/
/*        left:5%;*/
/*        font-size:60px;*/
/*        font-family: sans-serif;*/
/*        color: #787878;*/
/*        text-align: center;*/
/*    }*/
/*    .enter__table-email{*/
/*        position: absolute;*/
/*        left:45px;*/
/*        top:112px;*/
/*    }*/
/*    .enter__table-email-title{*/
/*        position:absolute;*/
/*        top:-19px;*/
/*        left:8px;*/
/*        color:#787878;*/
/*        font-family: sans-serif;*/
/*        font-style: normal;*/
/*        font-weight: bold;*/
/*        font-size: 16px;*/
/*        line-height: 16px;*/
/*    }*/
/*    .enter__table-email-input,.enter__table-password-input{*/
/*        height:49px;*/
/*        border:2px solid #787878;*/
/*        border-radius: 10px;*/
/*        font-size:5vw;*/
/*        color:#787878;*/
/*        font-style:normal;*/
/*        font-weight:bold;*/
/*        box-sizing: border-box;*/
/*        padding-left: 15px;*/
/*        padding-top:7px;*/
/*        padding-bottom: 6px;*/

/*    }*/
/*    .enter__table-password{*/
/*        position: absolute;*/
/*        left:45px;*/
/*        top:193px;*/
/*        margin: 0 auto;*/
/*    }*/
/*    .enter__table-password-title{*/
/*        position:absolute;*/
/*        top:-19px;*/
/*        left:8px;*/
/*        color:#787878;*/
/*        font-family: sans-serif;*/
/*        font-style: normal;*/
/*        font-weight: bold;*/
/*        font-size: 16px;*/
/*        line-height: 16px;*/
/*    }*/

/*    .enter__table-checkbox{*/
/*        position: absolute;*/
/*        left:45px;*/
/*        margin:0 auto;*/
/*        top:264px;*/
/*        width: 400px;*/
/*    }*/
/*    .enter__table-checkbox> input {*/
/*        position: absolute;*/
/*        left: 0;*/
/*        top: 0;*/
/*        width: 100%;*/
/*        height: 100%;*/
/*        opacity: 0;*/
/*        margin: 0;*/
/*    }*/

/*    .enter__table-checkbox-mark{*/
/*        width: 24px;*/
/*        height: 24px;*/
/*        border: 2px solid #787878;*/
/*        box-sizing: border-box;*/
/*        border-radius: 7px;*/
/*    }*/
/*    .enter__table-checkbox >input:checked + .enter__table-checkbox-mark::after {*/
/*        content: '✓';*/
/*        position: absolute;*/
/*        color: #787878;*/
/*        top: 2px;*/
/*        left: 4px;*/
/*    }*/
/*    .enter__table-checkbox-link{*/

/*    }*/
/*    .enter__table-checkbox-text{*/
/*        position: absolute;*/
/*        left: 34px;*/
/*        top: 4px;*/
/*        color:#787878;*/
/*        font-family: sans-serif;*/
/*        font-style: normal;*/
/*        font-weight: normal;*/
/*        font-size: 2.5vw;*/
/*        line-height: 16px;*/
/*    }*/
/*    .submit{*/
/*        width:40vw;*/
/*        position:absolute;*/
/*        margin: 0 auto;*/
/*        box-sizing: border-box;*/
/*        left: 20%;*/
/*        top:334px;*/
/*        background: #1A226B;*/
/*        color: white;*/
/*        padding: 18px 45px;*/
/*        text-align: center;*/
/*        text-decoration: none;*/
/*        display: inline-block;*/
/*        font-size: 4vw;*/
/*        font-weight: bold;*/
/*        border-radius: 10px;*/
/*    }*/
/*    body{*/
/*        background-color: #1B2473;*/
/*        margin: 0;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        justify-content: center;*/
/*    }*/
/*}*/
