
@media screen and (max-width: 1920px) and (min-width: 769px){
    .enter__table {
        background-color: #FFFFFF;
        width: 600px;
        height: 412px;
        position: relative;
        margin-left: 412px;
        margin-top: 82px;
        border-radius: 20px;
    }
    .enter__table-header{
        position:absolute;
        width: 115px;
        height: 50px;
        /*  border:1px solid black;*/
        font-size:50px;
        font-family: sans-serif;
        color: #787878;
        left:242px;
        top:26px;
    }
    .enter__table-email{
        position: absolute;
        left:45px;
        top:112px;
    }
    .enter__table-email-title{
        position:absolute;

        top:-19px;
        left:8px;
        color:#787878;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
    }
    .enter__table-email-input{
        width:509px;
        height:49px;
        border:2px solid #787878;
        border-radius: 10px;
        font-size:28px;
        color:#787878;
        font-style:normal;
        font-weight:bold;
        box-sizing: border-box;
        padding-left: 15px;
        padding-top:7px;
        padding-bottom: 6px;
    }
    .enter__table-password{
        position: absolute;
        left:45px;
        top:193px;
        /*    border:1px solid black;*/
    }
    .enter__table-password-title{
        /*  width:56px;
          height:16px;*/
        position:absolute;
        top:-19px;
        left:8px;
        color:#787878;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
    }
    .enter__table-password-input{
        width:509px;
        height:49px;
        border:2px solid #787878;
        border-radius: 10px;
        font-size:28px;
        color:#787878;
        font-style:normal;
        font-weight:bold;
        box-sizing: border-box;
        padding-left: 15px;
        padding-top:7px;
        padding-bottom: 6px;
    }
    .enter__table-checkbox{
        position: absolute;
        left:45px;
        top:264px;
        width: 400px;
        /*    border:1px solid black;*/
    }
    .enter__table-checkbox> input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        margin: 0;
    }

    .enter__table-checkbox-mark{
        width: 24px;
        height: 24px;
        border: 2px solid #787878;
        box-sizing: border-box;
        border-radius: 7px;
    }
.enter__table-checkbox >input:checked + .enter__table-checkbox-mark::after {
    content: '✓';
    position: absolute;
    color: #787878;
    top: 2px;
    left: 4px;
}
    .enter__table-checkbox-text{
        position: absolute;
        /*    top: 24px;*/
        height: 16px;
        left: 34px;
        top: 4px;
        color:#787878;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        /*    display: flex;*/

    }
    .submit{
        position:relative;
        box-sizing: border-box;
        left:218px;
        top:334px;
        background: #1A226B;
        color: white;
        padding: 18px 55px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        /*    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);*/
        border-radius: 10px;

    }
    body{
        background-color: #1B2473;
        margin: 0;
    }
}
@media screen and (max-width: 768px) and (min-width: 320px){
    .enter__table{
        background-color: #FFFFFF;
        width:95vw;
      /*  height: 102vw;*/
        height:697px;
        max-width:768px;
        min-width:320px;
     /*   max-height: 697px;
        min-height: 430px;*/
        position:relative;
        margin: 0 auto;
        margin-top:7px;
        border-radius: 20px;
}
    .enter__table-header{
        position:absolute;
        width: 90%;
         padding-top:38px;
        left:5%;
       /* height: 50px;
        border:1px solid black;*/
      /*  display:block;
        margin-left: auto;
        margin-right:auto;*/
        font-size:60px;
        font-family: sans-serif;
        color: #787878;
        text-align: center;
    }
    .enter__table-email{
        position: absolute;
        left:45px;
        top:112px;
    }
    .enter__table-email-title{
        position:absolute;
        top:-19px;
        left:8px;
        color:#787878;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
    }
    .enter__table-email-input{
 /*       width:90%;*/
        height:49px;
        border:2px solid #787878;
        border-radius: 10px;
        font-size:5vw;
        color:#787878;
        font-style:normal;
        font-weight:bold;
        box-sizing: border-box;
        padding-left: 15px;
        padding-top:7px;
        padding-bottom: 6px;

    }
    .enter__table-password{
        position: absolute;
        left:45px;
        top:193px;
        margin: 0 auto;
        /*    border:1px solid black;*/
    }
    .enter__table-password-title{
        /*  width:56px;
          height:16px;*/
        position:absolute;
        top:-19px;
        left:8px;
        color:#787878;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
    }
    .enter__table-password-input{
/*        width:100%;*/
        height:49px;
/*        max-width:638px;*/
        border:2px solid #787878;
        border-radius: 10px;
        font-size:5vw;
        color:#787878;
        font-style:normal;
        font-weight:bold;
        box-sizing: border-box;
        padding-left: 15px;
        padding-top:7px;
        padding-bottom: 6px;
    }
    .enter__table-checkbox{
        position: absolute;
        left:45px;
        margin:0 auto;
        top:264px;
        width: 400px;
        /*    border:1px solid black;*/
    }
    .enter__table-checkbox> input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        margin: 0;
    }

    .enter__table-checkbox-mark{
        width: 24px;
        height: 24px;
        border: 2px solid #787878;
        box-sizing: border-box;
        border-radius: 7px;
    }
    .enter__table-checkbox >input:checked + .enter__table-checkbox-mark::after {
        content: '✓';
        position: absolute;
        color: #787878;
        top: 2px;
        left: 4px;
    }
    .enter__table-checkbox-text{
        position: absolute;
        /*    top: 24px;*/
        /*height: 16px;*/
        left: 34px;
        top: 4px;
        color:#787878;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 2.5vw;
        line-height: 16px;
        /*    display: flex;*/

    }
    .submit{
        width:40vw;
        position:relative;
        margin: 0 auto;
     /*   display: flex;*/
       /* justify-content: center;*/
      /*  align-items: end;*/
        box-sizing: border-box;
        left: 20%;
      /*  right: 0;*/
        top:334px;
        background: #1A226B;
        color: white;
        padding: 18px 45px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 4vw;
        font-weight: bold;
        /*    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);*/
        border-radius: 10px;
    }
    body{
        background-color: #1B2473;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      /*  overflow-x: hidden;
        overflow-y:hidden;*/
    }
}
