
body{
/*    width:1440px;*/
    margin:15px;
    box-sizing:border-box;
    /*height: 100vw*/;
    /* background:mediumpurple;*/
}
.page-header{
    /*
    width:1440px;
    */
    width:90%;
    height:89px;
    box-sizing:border-box;
    font-family: sans-serif;
    color:white;
    font-size:54px;
    padding-top:13px;
    padding-bottom:13px;
    padding-left: 29px;
      /*
      border:2px solid black;
      */
    position:fixed;
    background:#590BFF;
        z-index:10;
}
.content__block{
    position: relative;
    top:100px;
/*    width:1440px;*/
    width:90vw;
    padding-top:20px;
    left:0;
    /*    height:400px;*/
}
.content__block-links{
    position:fixed;
    box-sizing:border-box;
    max-width:282px;
    width:90%;
   /* height:457px;*/
    padding-left:5px;
    /* margin-top: 20px;*/
    /*
    border:2px solid black;
    */
    border-right:2px solid orange;
    font-family: sans-serif;
    font-size:28px;
    text-align:left;
}
[href] {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FF710B;
    font-size:24px;
    text-align: left;
}
.content__block-container{

    height:457px;
/*    height: 100vh;*/
    max-height: 400px;
    box-sizing:border-box;
    position: relative;
    margin:0;
    padding:5px;
    width: 50%;
    min-width:250px;
    left:282px;
    overflow: scroll;
    overflow-x: hidden;
/*    overflow-y: hidden;*/
/*     border:2px solid black;*/
    font-size:20px;
}
.content__block-container-title{
    position: sticky;
    top:0;
  /*  width:1080px*/;
    width:90%;
    margin:0;
    padding:0;
    background:#590BFF;
    font-family: sans-serif;
   /* height:41px;*/
    font-size:28px;
    color:white;
  /*  z-index:2;*/
    /*  text-align: left  ;*/
    /*
    border-bottom:2px solid black;
    */
}
.content__block-container-title-item{
    background-color:white;
    font-family: sans-serif;
    font-size:20px;
    text-align: left  ;
    color:black;
    position:relative;
/*    z-index:-2;*/
    list-style-type: none;
}