*{
    box-sizing:border-box;
}
body{
    width:50vw;
    background-image: url(img/background.jpg);
    background-size:300px;
    font-family: sans-serif;
    color:white;
}
header{
    display:flex;
}
.image-logo {
    width: 100px;
    height: 100px;
}
.card-container {
    padding-top:15px;
/*    padding-bottom:15px;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
/*    flex-grow:1;*/
    justify-content: space-between;
}
.burger{
    width:250px;
   /* height:250px;*/
    border:1px solid red;
    display:flex;
    flex-direction: column;
}
.burger_name{
    height: 60px;
    font-size: 35px;
    color: goldenrod;
    border:1px red;
}
.burger-text {
    text-align: justify;
    flex:1 2 auto;
}
.image{
    width: 100px;
    height: 100px;
    float: left;
    border-bottom: 2px groove red;
    border-right: 2px groove red;
}
.basket{
    display: flex;
    background-color:red;
    color:white;
    text-align: center;
    border-radius:8px;
    width:100%;
    font-size:18px;
   /* padding:0;*/
}
.price{
    background: darkgoldenrod;
    text-align: center;
    /*display:flex;*/
}