@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
.bodyBody{

    display: flex;
    background-color: #f2f2f2;

}
.AuthTrue{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.bodyContent {

    /*background-color: #f2f2f2;*/
    box-sizing: border-box;
    margin:0 auto;


}
.headHeader{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    background:#d9f5ff;
}
.headAuth{
    /*align-items: center;*/
    display: flex;
    justify-content: center;
    margin-right: 9px;    font-weight: bold;

}