.SoD{
  margin-top: 10px;
  color: black;
  display:flex;
  flex-direction: column;
  align-items: center;
  //background-color: white;
}
.Text{
  width: 100%;
  color: white;
  background-color: black;
  font-family: sans-serif;
  font-size: 40px;
}