.header{
    box-sizing: border-box;
    padding:5px;
    width:100%;
    height:60px;
    background:#d9f5ff;
    display:grid;
    grid-template-columns: 0fr 0fr 0fr 0fr auto 0fr 0fr;
}
.header__menu{
    display: flex;
    align-items: center;
    padding-left: 18px;
    cursor: pointer;
}
.header__menu_button{
    border:none;
    outline:none;
    background-color:#d9f5ff; ;
}
.header__logo{
    display: flex;
    align-items: center;
    padding-left: 18px;
    margin:6px auto;
    }
.header__logo_button{
    border:none;
    outline:none;
    background-color:#d9f5ff; ;
}
.header__findbar{
    max-width: 320px;
    background-color: rgba(0,0,0,0.05);
    border: 1px solid #00000008;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
    box-shadow: none;
    display: flex;
    align-items: center;
    padding-left: 7px;
    margin:6px 0 6px 18px;
    transition:0.4s;
}
.header__findbar:hover{
    background-color: #fff;
    border-color:#1793e6;
    box-shadow: 0 0 0 3px rgba(70,131,217,0.27);

}
/*.header__findbar:focus{*/
/*    background-color: #fff;*/
/*    border-color:#1793e6;*/
/*    box-shadow: 0 0 0 3px rgba(70,131,217,0.27);*/
/*}*/
.header__findbar input{
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0.0);
    box-sizing: border-box;
    padding-left: 15px;
    height: 38px;
    font-family: sans-serif;
    font-size: 16px;
}
.header__newpost{
    background-color: white;
    box-sizing: content-box;
    display:flex;
    width:170%;
    align-items: center;
    margin:6px 0 6px 18px;
    border-color:#1793e6;
    box-shadow: 0 0 0 1px rgba(70,131,217,0.27);
    border-radius: 8px;
    padding-left: 7px;
}
.header__newpost_newpost, .header__newpost_arrow{
   /*height:90%;*/
    background-color: white;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    outline: none;
    border:none;
    margin:6px 0 6px 5px;
 }
.header__newpost_newpost{
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    width:70%;
}
.header__newpost_arrow{
    border-left:2px solid gray;
    padding-left:17px
}
.spacer{

}
.header__noitification{
    display:flex;
    align-items: center;
}
.header__user_login{
    display:flex;
    align-items: center;
}
.button_UserLogin,.button_Notification, .button_UserLoginLogin{
    outline: none;
    background-color:#d9f5ff;
    color:black;
    border:none;
    display:flex;
    align-items: center;
    padding-left: 18px;
    transition:0.4s;
}
.button_UserLogin{
    /*font-size:16px;*/
    /*font-family: sans-serif;*/
}
.button_UserLogin:hover{
    color: #24afe3;
}
.button_Notification:hover,.button_UserLoginLogin:hover{
 color: #24afe3;
}
.header__user_login{
    margin-right: 20px;
}
.header__user_login_text{
    margin-left: 5px;
    font-size:16px;
    font-family: sans-serif;
    font-weight: bold;
}


