.contentContainer{
    width:300px;
    display:flex;
    flex-direction: column;
}
.title{
    width:640px;
    padding:1rem 2rem;
    background-color: white;
    border-radius: 8px;
    font-size: 22px;
    line-height: 1.3em;
    margin-top: 9px;
    margin-bottom: 7px;
    font-family: sans-serif;
    font-weight: bold;
    text-outline: none;
}
.Intro{
    margin-top: 9px;
    margin-bottom: 7px;
    font-family: Calibri;
    font-weight: normal;
    font-size: 16px;
    text-decoration: underline;
    text-outline: none;
}
 img{
    width:100%;
     height:wv;

}
.summarize {
    margin-top: 9px;
    margin-bottom: 7px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-align: justify;
    text-outline: none;
}
.NavLink{
    text-decoration: none;
    color:black;
}
