.wrapper {
  //box-sizing: content-box;
  display: flex;
  padding: 1rem 1rem;
  background: rgba(0, 0, 0, .2);
  color: white;
  border-radius: 1rem;
  //margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}

.Avatar img{
  width: 100px;
  height: 100px;
}

//
.data {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:0 auto;
  color:black;
}
.Navigate{
  text-decoration: none;
  color:black;
}
.Fname, .Lname, .Email{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 0;
}
//
//.data p {
//  margin: .5rem 0;
//}