.Body{
    margin:0;
    display:flex;
    height: 100vh;
   background-color: #f2f2f2;

}
.Body__Sidebar a{
    box-sizing: border-box;
    width:200px;
    height:44px;
    padding:0.5em 0 1em 4em;
    text-decoration: none;
    color:black;
    font-family: sans-serif;
    font-size: 16px;
    border-radius:10px;
    border:2px solid #f2f2f2;
    transition: 0.2ms;
}
.Body__Sidebar{
    height:150px;
    display:grid;
    justify-content: space-between;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin:5px;
    position: sticky;
    top:62px;
}
.Body__Sidebar a:hover{
    background-color: white;
    border:2px solid white;
}
.Body__news{
    box-sizing: border-box;
    margin: 0 auto;
}
