.wrapper {
  box-sizing: content-box;
  display: grid;
  grid-gap: 2rem;
  margin-top: 1rem;
}

.list {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}