.wrapper{
  box-sizing: border-box;
  display: flex;
  margin-top: 10px;
  .Auth_Image{
    width: 300px;
    .LogoOnImage{
      position: relative;
      top:40px;
      left:20px;
    }
  }
  .form{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 10rem;
    width: 328px;

    input{
      box-sizing: border-box;
      margin-bottom: 1rem;
      //outline: none;
      border: none;
      border-radius: 8px;
      transition:0.4s;
      background-color: #ece7e7;
      font-size: 16px;
      height: 48px;
      width: 100%;
      font-family: sans-serif;
      padding-left: 10px;

    }
    input:hover{
      background-color: white;
      border-color:#1793e6;
      box-shadow: 0 0 0 3px rgba(70,131,217,0.27);
    }
    button{
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      color: white;
      font-family: sans-serif;
      align-items: center;
      justify-content: center;
      //outline: none;
      border: 1px solid #1866c5;
      border-radius: 8px;
      transition:0.4s;
      background-color: #1866c5;
      font-weight: bold;
      width: 100%;
      height: 48px;
    }
}


}
